@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .m-default {
    @apply px-6 2xl:container md:px-12 lg:px-[10vw] 2xl:px-[4.5vw];
  }
}

#desktop-gradient-bar {
  background: linear-gradient(
    90deg,
    #fbf332 0%,
    #f33 19.5%,
    #3239fb 43%,
    #3239fb 63.5%,
    #f33 84%,
    #fbf332 100%
  );
  width: 100%;
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
